/app/Config.inc.php
.vscode
/cache
/docs
/nbproject
/node_modules
/themes/quantummedical/img/VIDEO QUANTUM.mp4
/themes/quantummedical/img/imagens-equipamentos
/themes/quantummedical/img/laser
Ftp rafael@quantummedical.com.br.xml
informações para transferir titularidade.txt