RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

RewriteCond %{HTTP_HOST} ^quantummedical.com.br [NC]
RewriteRule ^(.*)$ http://www.quantummedical.com.br/$1 [L,R=301]